<strong>Olá, {{ deliveryman }}</strong>
<p>Há uma nova encomenda cadastrada em seu nome pronta para ser retirada.
  Confira os detalhes abaixo:</p>
<p>
  <strong>Product: </strong> {{ product }}
</p>
